<html>
	<center><h1 >
		{{ .title }}
	</h1></center>

    <center><img src='im1.jpg'></center>
		<ul>
	<li> <a href="./users">Usuarios</a> </li>
	<li> <a href="./companies">Empresas</a> </li>
	<li> <a href="./qrs">QRs</a> </li>
	
	</ul>


</html>